@import "colours";
@import "media";
@font-face {
    font-family: 'River';
    src: url("../fonts/Blank\ River.ttf");
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: relative;
    padding: 0.5rem calc((100vw - 1500px) / 2);
    
    &__logo {
        text-decoration: none;
        font-size: 3.2rem;
        font-family: "River";
        color: white;
        padding: .3rem 1rem;
        font-weight: 10;
    }

    &__list {
        margin-top: 1.8rem;
        padding-right: 1rem;
        font-size: 1.1rem;

        & a {
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            text-decoration: none;
            color: white;
            padding: 0 1rem;

            @include tablet {
                padding-top: 1rem;
                font-size: 2rem;
            }
        }
        & a:hover {
            color: $orange;
            transition: all 0.2s;
        }

        @include tablet {
            position: relative;
            display: grid;
            z-index: 12;
            background-color: #1b1b1b;
            width: 300px;
            height: 400px;
            padding-bottom: 812px;
            padding-top: 5rem;
            top: -3.3rem;
            padding-right: 2rem;
            right: -2rem;
            width: 0%;
            transition: all 0.7s ease;
        }
    }

    &__bars {
        color: white;
        margin: 1rem 2rem;
        font-size: 2rem;
        display: none;
        right: 1rem;
        cursor: pointer;
        position: absolute;

        @include tablet {
            display: block;
            z-index: 15;
        }
    }

    &__list.active {
        width: 100%;
    }
}
